.vscode/settings.json
data/.DS_Store
.DS_Store
.DS_Store
data/*_merge.csv
midas_lasso/__pycache__/midas_model.cpython-37.pyc
data_scraping/captcha.png
data_scraping/.vscode/settings.json
data_scraping/__pycache__/deathbycaptcha.cpython-37.pyc
data_scraping/__pycache__/scrapping.cpython-37.pyc
midas_lasso/__pycache__/utils.cpython-37.pyc
midas_lasso/__pycache__/variables.cpython-37.pyc
